{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Вход в систему</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
            <label for="login">Логин</label>
            <input type="text" id="login" name="login" required>
        </div>
        
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="voyty">
        <button type="submit" class="btn">Войти</button>
        </div>
    </form>
    <div class="auth-footer">
        <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}